.arrow-left,
.arrow-right {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;

  @media screen and (max-width: 800px) {
    width: 25px;
  }
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}
