@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-rgb: 240, 248, 255;
  --color-foreground-rgb: 10, 10, 10;
  --color-background: #f0f8ff;
  --color-background-start: #e7eff7;
  --color-foreground: #0a0a0a;
  --color-black: #0a0a0a;
  --color-white: #f0f8ff;
  --color-primary: #2d81ff;
  --color-secondary: #004ebb;
}

.dark {
  --color-background-rgb: 17, 17, 17;
  --color-foreground-rgb: 240, 248, 255;
  --color-background: #111111;
  --color-background-start: #1e2225;
  --color-foreground: #f0f8ff;
  --color-primary: #3293e2;
  --color-secondary: #115c9a;
}

@layer base {

  * {
    box-sizing: border-box;
    background: none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--color-foreground);
    background: linear-gradient(
      180deg,
      var(--color-background-start),
      var(--color-background) 30% 100%
    );
    animation: gradientShift 5s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  transition: background 0.3s ease;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
  background: var(--color-primary);
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .sticky-navbar {
    background: var(--color-background);
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }

  .sticky-socials {
    margin-right: calc((100% - 1280px) / 2 + 20px);
  }

  .profile-section {
    margin-left: calc((100% - 1280px) / 2);
  }
}
